h2{margin: 0;}
input{padding: 0;}
$width:1190px;
$hoverColor:#f60;
$colorRed:#f00;
$full:100%;
input{outline: none;}
@mixin clearAll{
    margin: 0;padding: 0;
    background-color: #fff;
    color: #333;
    border: 0;
}
@mixin boxShadow($left,$top,$r,$color){
    -webkit-box-shadow: $left $top $r $color inset;
    -moz-box-shadow: $left $top $r $color inset;
    box-shadow: $left $top $r $color inset;
}

//购物车页面隐藏导航和搜索
.logo{display: none;}
#nav{display: none;}

//顶部logo
.cart_title{
    height: 78px;
    width: $width;
    margin: 0 auto;
    a{
        float: left;
        width: 172px;
        height: 76px;
        background: url(../img/sj_bg.png) 0 -618px no-repeat;
    }
    span{
        float: right;
        background: url(../img/flow_step.png) 0 0 no-repeat;
        width: 512px;height: 44px;
        margin-top: 30px;
    }
}
//内容区
.content{
    width: $width;
    margin: 0 auto;
}
.cont_title{
    width: $full;height: 32px;
    margin: 20px 0;
    h2{
        float: left;
        height: 32px;
        font:24px/32px "微软雅黑";
        color: #555;
    }
    p{
        height: 22px;
        float: left;
        margin: 10px 0 0 10px;
        font:12px/22px "微软雅黑";
        em{
            font-style: normal;
            color: #c00;
            font:15px/22px "微软雅黑";
        }
    }
}
.cont{
    border: 1px solid #ddd;
    p{
        float: left;
        width: 45%;
    }
    strong{
        float: left;
        width: 9%;
        border-left: 1px solid #fff;
        font-weight: 500;
    }
    b{
        float: left;
        width: 9%;
        font-weight: 500;
        border-left: 1px solid #fff;
    }
    em{
        float: left;
        width: 15%;
        font-style: normal;
        border-left: 1px solid #fff;
        button{
            float: left;
            width: 20px;height: 20px;
            border: 1px solid #8a8a8a;
        }
        button:first-of-type{
            margin-left: 55px;
        }
        input{
            float: left;
            width: 45px;height: 18px;
            border: 0;
            border-top: 1px solid #8a8a8a;
            border-bottom: 1px solid #8a8a8a;
            line-height: 18px;
            font-size: 14px;
            color: #555;
            text-align: center;
        }
    }
    i{
        float: left;
        width: 12%;
        font-style: normal;
        border-left: 1px solid #fff;
    }
    a{
        float: left;
        width: 9%;
        color: #676767;
        border-left: 1px solid #fff;
    }
}
.title{
    width: $full;
    height: 35px;
    font: 12px/35px "微软雅黑";
    background: #eee;
    color: #676767;
    text-align: center;
}
.cont ul{
    width: $full;
    background: #fefef4;
    li{
        border-bottom: 1px solid #ddd;
        height: 75px;
        padding: 10px 0;
        text-align: center;
        font-size: 12px;
        p{
            text-align: left;
            line-height: 76px;
            a{
                color: #333;
                display: block;
                width: $full;
                overflow: hidden;
                white-space: pre;
                text-overflow: ellipsis;
                img{
                    float: left;
                    width: 70px;height: 70px;
                    padding: 1px;
                    border: 1px solid #ddd;
                    margin: 0 10px 0 15px;
                }
            }
        }
        b,i,a{
            line-height: 76px;
        }
        em{margin-top: 23px;}
        a:hover{
            color: $hoverColor;
        }
        strong{
            height: 36px;
            margin-top: 20px;
        }
        button{cursor: pointer;}
    }
}
//结算
.settle{
    width: $full;
    height: 44px;
    padding: 20px 0;
    a{
        float: left;
        margin-left: 15px;
        background: #EFEFEF;
        border: 1px solid #c4c4c4;
        @include boxShadow(0,1px,1px,rgba(200,200,200,.3));
        color: #666;
        text-shadow: 0 1px #fff;
        padding: 5px 12px;
        width: auto;
        font-size: 12px;
    }
    h4{
        float: right;
        width: 245px;
        text-align: right;
        padding-right: 15px;
        height: 44px;
        font:14px/44px "微软雅黑";
        font-weight: 900;
        border-bottom: 1px dashed #ddd;
        b{
            float: right;
            width: auto;
            color: #c00;
            font-size: 20px;
        }
    }
}
.cont_foot{
    width: $width;
    margin: 20px auto;
    height: 40px;
    text-align: right;
    a{
        display: inline-block;
        height: 38px;
        padding: 0 30px;text-shadow: 0 1px #fff;
        font:16px/38px "微软雅黑";
        border-radius: 2px;
    }
}
.return{
    background: #EFEFEF;
    border: 1px solid #C4C4C4;
    @include boxShadow(0,1px,1px,rgba(200,200,200,0.3));
    color: #666;
}
.tonext{
    background: #D81E27;
    border: 1px solid #AF0911;
    @include boxShadow(0,1px,1px,rgba(100,100,100,0.5));
    color: #FFF;
}
